/* Add a background color to the header element */
header {
    background-color: green;
    text-align: center;
}
/* Add a fun background color to the main element */
main {
    background-color: lime;
}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */
footer p {
    color: purple;
    font-style: italic;
}
/* Put a border around your image */
img {
    width: 255px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove;
}
/* Change the font-family of your list */
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Add a background color to the footer element */
footer {
    background-color: chocolate;
}